<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/profile">Profile</a>

<p>When you are logged in</p>
<a href="/main">Main</a>
<a href="/private">Private</a>